<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <a href="http://www.railstutorial.org"><em>Ruby on Rails Tutorial</em></a>
  is a book and a screencast tutorial to teach RUby on Rails.
</p> 


